<div ng-controller="AdminCatalogProjectListCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6" ng-include="pathToTmpl + 'include/_filters.html'"></div>`
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'PROJECT.LIST' | translate }}</h5>

                        <div ibox-footable-tools></div>
                    </div>
                    <div class="ibox-content" id="listId">
                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="50">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" class="col-checkbox">
                                        <input icheck type="checkbox" ng-change="Click.ToggleAll()" ng-model="isAllSelected"/>
                                    </th>
                                    <th data-toggle="true">ID</th>
                                    <th>{{ 'PROJECT.FIELD.TITLE' | translate }}</th>
                                    <th>{{ 'PROJECT.FIELD.ALIAS' | translate }}</th>
                                    <th>{{ 'PROJECT.FIELD.DESCRIPTION' | translate }}</th>
                                    <th>{{ 'PROJECT.FIELD.IS_ACTIVE.LABEL' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'COMMON.ACTIONS' | translate }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="one in list" footable-init>
                                <td>
                                    <input icheck type="checkbox" ng-checked="one.selected" ng-model="one.selected" ng-change="Click.OptionToggled()"/>
                                </td>
                                <td>{{ one.id }}</td>
                                <td>{{ one.title }}</td>
                                <td>{{ one.alias }}</td>
                                <td>{{ one.description }}</td>
                                <td button-active-pizone ng-model="one"></td>
                                <td list-button-group-intis="'one'" ng-model="one"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer" ng-include="pathToTmpl + 'include/_list_footer.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>