{% if ''|scriptName != '/app_dev.php' %}
    <script type="text/javascript" src="/assetic/js/catalog.min.js"></script>
    <script type="text/javascript" src="/bundles/pizonecatalog/js/config.js"></script>
{% else %}
    {#<script type="text/javascript" src="/assetic/js/catalog.min.js"></script>#}
    <script type="text/javascript" src="/bundles/pizonecatalog/js/app.js"></script>
    <script type="text/javascript" src="/bundles/pizonecatalog/js/translations.js"></script>
    <script type="text/javascript" src="/bundles/pizonecatalog/js/config.js"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/category/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/category/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/category/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/category/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/category/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/category/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/category/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/catalog_content/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/catalog_content/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog_content/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog_content/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog_content/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog_content/parameters.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/catalog_content/parameters.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/catalog_content/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/catalog_content/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/catalog/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/catalog/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/catalog/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/catalog/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/catalog/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/group_parameters/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/group_parameters/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/group_parameters/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/group_parameters/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/group_parameters/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/group_parameters/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/group_parameters/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/tag/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/tag/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/tag/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/tag/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/tag/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/tag/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/tag/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/stock/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/stock/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/stock/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/stock/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/stock/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/stock/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/stock/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/user/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/user/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/user/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/user/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/user/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/user/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/user/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/order/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/order/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/order/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/order/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/order/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/order/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/order/ru.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/project/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/model/project/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/project/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/project/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/controller/project/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/project/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizonecatalog/js/translations/project/ru.js') }}"></script>
{% endif %}
