{% if ''|scriptName != '/app_dev.php' %}
    <link rel="stylesheet" type="text/css" media="screen" href="/assetic/css/pz.catalog.style.min.css"/>
{% else %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pizonecatalog/css/style.css') }}"/>
{% endif %}
