<div ng-controller="AdminCatalogListCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6" ng-include="pathToTmpl + 'include/_filters.html'"></div>`
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'CATALOG.LIST' | translate }}</h5>

                        <div ibox-footable-tools></div>
                    </div>
                    <div class="ibox-content" id="listId">
                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="50">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" class="col-checkbox">
                                        <input icheck type="checkbox" ng-change="Click.ToggleAll()" ng-model="isAllSelected"/>
                                    </th>
                                    <th data-toggle="true">ID</th>
                                    <th>{{ 'CATALOG.FIELD.TITLE' | translate }}</th>
                                    <th>{{ 'CATALOG.FIELD.ALIAS' | translate }}</th>
                                    <th>{{ 'CATALOG.FIELD.CONTENT' | translate }}</th>
                                    <th>{{ 'CATALOG.FIELD.CREATED_AT' | translate }}</th>
                                    <th>{{ 'CATALOG.FIELD.LEVEL' | translate }}</th>
                                    <th>{{ 'CATALOG.FIELD.IS_ACTIVE.LABEL' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'COMMON.ACTIONS' | translate }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="one in list" footable-init>
                                <td>
                                    <input icheck type="checkbox" ng-checked="one.selected" ng-model="one.selected" ng-change="Click.OptionToggled()"/>
                                </td>
                                <td>{{ one.id }}</td>
                                <td class="footable-400" style="padding-left: {{15 * (one.level - 1)}}px">{{ one.title }}<br/><small class="text-muted">[{{one.alias}}]</small></td>
                                <td>{{ one.alias }}</td>
                                <td>
                                    <span ng-if="one.content.length != 0">
                                        <a ui-sref="catalog.content_edit({id: {{one.content.id}}})">
                                            <i class="fa fa-link"></i> [{{one.content.id}}] {{one.content.title}}
                                        </a>
                                        <br/><small class="text-muted">[{{one.content.alias}}]</small>
                                    </span>
                                </td>
                                <td>{{ one.created_at }}</td>
                                <td>{{ one.level - 1 }}</td>
                                <td button-active-pizone ng-model="one"></td>
                                <td list-button-group-nested-pz="'one'" ng-model="one"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer" ng-include="pathToTmpl + 'include/_list_footer.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>