<div ng-controller="AdminCatalogOrderListCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6" ng-include="pathToTmpl + 'include/_filters.html'"></div>`
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'ORDER.LIST' | translate }}</h5>

                        <div ibox-footable-tools></div>
                    </div>
                    <div class="ibox-content" id="listId">
                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="50">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" class="col-checkbox">
                                        <input icheck type="checkbox" ng-change="Click.ToggleAll()" ng-model="isAllSelected"/>
                                    </th>
                                    <th data-toggle="true">ID</th>
                                    <th data-sort-ignore="true">{{ 'ORDER.FIELD.GOODS' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.USER.TITLE' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.ITOG' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.DISCOUNT' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.STATUS.LABEL' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.STOCK' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.CREATED_AT' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.UPDATED_AT' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.IS_ACTIVE.LABEL' | translate }}</th>
                                    <th>{{ 'ORDER.FIELD.IS_CONFIRM.LABEL' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'COMMON.ACTIONS' | translate }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="one in list" footable-init>
                                <td>
                                    <input icheck type="checkbox" ng-checked="one.selected" ng-model="one.selected" ng-change="Click.OptionToggled()"/>
                                </td>
                                <td>{{one.id}}</td>
                                <td>
                                    <div ng-repeat="item in one.content" class="goods_item">
                                        <dl class="dl-horizontal pz-list">
                                            <dt class="text-muted">{{ 'ORDER.FIELD.CONTENT.TITLE' | translate }}</dt>
                                            <dd class="text-info">
                                                <a ui-sref="catalog.content_edit({id: {{item.id}}})" pz-permission role="ROLE_ADMIN">
                                                    <i class="fa fa-link"></i> [{{ item.id }}] {{item.title}}
                                                </a>
                                                <span pz-permission no-role="ROLE_ADMIN">[{{ item.id }}] {{item.title}}</span>
                                            </dd>
                                            <dt class="text-muted">{{ 'ORDER.FIELD.CONTENT.ARTICLE' | translate }}</dt>
                                            <dd class="text-info">{{item.article}}</dd>
                                            <dt class="text-muted">{{ 'ORDER.FIELD.CONTENT.QUANTITY' | translate }}</dt>
                                            <dd class="text-info">{{item.quantity}}</dd>
                                            <dt class="text-muted">{{ 'ORDER.FIELD.CONTENT.PRICE' | translate }}</dt>
                                            <dd class="text-info">{{item.price}}</dd>
                                            <dt class="text-muted">{{ 'ORDER.FIELD.CONTENT.DISCOUNT' | translate }}</dt>
                                            <dd class="text-info">{{item.discount}}</dd>
                                            <dt class="text-muted" ng-if="item.category.id">{{ 'ORDER.FIELD.CONTENT.CATEGORY' | translate }}</dt>
                                            <dd class="text-info" ng-if="item.category.id">
                                                <a ui-sref="catalog.category_edit({id: {{item.category.id}}})" pz-permission role="ROLE_ADMIN">
                                                    <i class="fa fa-link"></i> [{{ item.category.id }}] {{item.category.title}}
                                                </a>
                                                <span pz-permission no-role="ROLE_ADMIN">[{{ item.category.id }}] {{item.category.title}}</span>
                                            </dd>
                                            <dt class="text-muted" ng-if="item.catalogs && item.catalogs.length > 0">{{ 'ORDER.FIELD.CONTENT.CATALOG' | translate }}</dt>
                                            <dd class="text-info" ng-if="item.catalogs && item.catalogs.length > 0">
                                                <div ng-repeat="catalog in item.catalogs">
                                                    <a ui-sref="catalog.catalog_edit({id: {{catalog.id}}})" pz-permission role="ROLE_ADMIN">
                                                        <i class="fa fa-link"></i> [{{ catalog.id }}] {{catalog.title}}
                                                    </a>
                                                    <span pz-permission no-role="ROLE_ADMIN"> [{{ catalog.id }}] {{catalog.title}}</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <hr ng-if="!$last"/>
                                    </div>
                                </td>
                                <td>
                                    <dl class="dl-horizontal pz-list" ng-if="one.user">
                                        <dt class="text-muted">{{ 'ORDER.FIELD.USER.USERNAME' | translate }}</dt>
                                        <dd class="text-info">
                                            <a ui-sref="user.catalog_user_edit({id: {{one.user.id}}})">
                                                <i class="fa fa-link"></i> [{{ one.user.id }}] {{one.user.username}}
                                            </a>
                                        </dd>
                                        <dt class="text-muted" ng-if="one.user.full_name">{{ 'ORDER.FIELD.USER.FULL_NAME' | translate }}</dt>
                                        <dd class="text-info" ng-if="one.user.full_name">{{one.user.full_name}}</dd>
                                        <dt class="text-muted" ng-if="one.user.company">{{ 'ORDER.FIELD.USER.COMPANY' | translate }}</dt>
                                        <dd class="text-info" ng-if="one.user.company">{{one.user.company}}</dd>
                                        <dt class="text-muted" ng-if="one.user.position_held">{{ 'ORDER.FIELD.USER.POSITION_HELD' | translate }}</dt>
                                        <dd class="text-info" ng-if="one.user.position_held">{{one.user.position_held}}</dd>
                                        <dt class="text-muted" ng-if="one.user.address">{{ 'ORDER.FIELD.USER.ADDRESS' | translate }}</dt>
                                        <dd class="text-info" ng-if="one.user.address">{{one.user.address}}</dd>
                                        <dt class="text-muted">{{ 'ORDER.FIELD.USER.REGISTRATION_AT' | translate }}</dt>
                                        <dd class="text-info">{{one.user.registration_at}}</dd>
                                        <dt class="text-muted">{{ 'ORDER.FIELD.USER.EMAIL' | translate }}</dt>
                                        <dd class="text-info">{{one.user.email}}</dd>
                                        <dt class="text-muted" ng-if="one.user.phone">{{ 'ORDER.FIELD.USER.PHONE' | translate }}</dt>
                                        <dd class="text-info" ng-if="one.user.phone">{{one.user.phone}}</dd>
                                        <dt class="text-muted" ng-if="one.user.messenger">{{ 'ORDER.FIELD.USER.MESSENGER' | translate }}</dt>
                                        <dd class="text-info" ng-if="one.user.messenger">{{one.user.messenger}}</dd>
                                        <dt class="text-muted" ng-if="!one.user.enabled">{{ 'ORDER.FIELD.USER.LOCKED' | translate }}</dt>
                                        <dd class="text-danger" ng-if="!one.user.enabled"><i class="fa fa-lock"></i> locked</dd>
                                    </dl>
                                </td>
                                <td>{{ one.itog }}</td>
                                <td>{{ one.discount }}</td>
                                <td>{{ one.status | translate }}</td>
                                <td>
                                    <span ng-if="one.stock">
                                        <a ui-sref="shop.stock_edit({id: {{one.stock.id}}})">
                                            <i class="fa fa-link"></i> [{{ one.stock.id }}] {{one.stock.title}}
                                        </a><br/>
                                        <span>{{one.stock.address}}</span>
                                    </span>
                                </td>
                                <td>{{ one.created_at }}</td>
                                <td>{{ one.updated_at }}</td>
                                <td button-active-pizone ng-model="one"></td>
                                <td button-check-pizone ng-model="one" field="'is_confirm'"></td>
                                <td list-button-group-intis="'one'" ng-model="one"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer" ng-include="pathToTmpl + 'include/_list_footer.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>