<div ng-controller="AdminCatalogContentEditCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!--<h5>All form elements-->
                            <!--<small>With custom checbox and radion elements.</small>-->
                        <!--</h5>-->
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" id="formId" ng-submit="Click.Submit()">
                            <div class="tabs-container">
                                <tabset>
                                    <tab ng-repeat="tab in tabs" select="tab.getContent()" active="activeTab[$index]">
                                        <tab-heading ng-class="{'text-danger': !tab.valid}">{{tab.title|translate}} <i
                                                class="fa fa-warning" ng-show="!tab.valid"></i></tab-heading>
                                        <div class="panel-body">
                                            <div ng-if="tab.form" ng-repeat="group in tab.groups">
                                                <div class="form-group {{tab.id}}">
                                                    <div ng-repeat="block in group"
                                                         class="col-lg-{{block.size}} text-left"
                                                         ng-init="field = block.field"
                                                         ng-class="{'has-error': !field.valid}"
                                                         ng-include="field.template"></div>
                                                </div>
                                                <div class="hr-line-dashed" ng-show="!$last"></div>
                                            </div>
                                            <div ng-if="!tab.form" ng-include="tab.template"></div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                            <div ng-include="pathToTmpl + 'include/_form_footer.html'"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>