<div ng-controller="AdminCatalogContentListCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" breadcrumbs="breadcrumbs"></div>

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-6" ng-include="pathToTmpl + 'include/_filters.html'"></div>`
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'CCONTENT.LIST' | translate }}</h5>

                        <div ibox-footable-tools></div>
                    </div>
                    <div class="ibox-content" id="listId">
                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="50">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" class="col-checkbox">
                                        <input icheck type="checkbox" ng-change="Click.ToggleAll()" ng-model="isAllSelected"/>
                                    </th>
                                    <th data-toggle="true">ID</th>
                                    <th data-sort-ignore="true">{{ 'CCONTENT.FIELD.IMAGE' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.TITLE' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'CCONTENT.FIELD.ARTICLE' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.ALIAS' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.ANONS' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'CCONTENT.FIELD.CATALOG' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.CATEGORY' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'CCONTENT.FIELD.PARAMETERS' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.CREATED_AT' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.UPDATED_AT' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.IS_NEW.LABEL' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.IS_HIT.LABEL' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.IS_OLD.LABEL' | translate }}</th>
                                    <th>{{ 'CCONTENT.FIELD.IS_ACTIVE.LABEL' | translate }}</th>
                                    <th data-sort-ignore="true">{{ 'COMMON.ACTIONS' | translate }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="one in list" footable-init>
                                <td>
                                    <input icheck type="checkbox" ng-checked="one.selected" ng-model="one.selected" ng-change="Click.OptionToggled()"/>
                                </td>
                                <td>{{ one.id }}</td>
                                <td>
                                    <span class="lightBoxGallery" ng-if="one.image">
                                        <img ng-src="{{one.image}}" height="50px"/>
                                    </span>
                                    <span ng-if="!one.image">-</span>
                                </td>
                                <td class="footable-300">{{ one.title }}</td>
                                <td>{{ one.article }}</td>
                                <td>{{ one.alias }}</td>
                                <td ng-bind-html="one.anons"></td>
                                <td>
                                    <div ng-if="one.catalogs.length > 0" ng-repeat="catalog in one.catalogs">
                                        <a ui-sref="catalog.catalog_edit({id: {{catalog.id}}})">
                                            <i class="fa fa-link"></i> {{catalog.title}}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <span ng-if="one.category.length != 0">
                                        <a ui-sref="catalog.category_edit({id: {{one.category.id}}})">
                                            <i class="fa fa-link"></i> {{one.category.title}}
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <dl ng-if="one.parameters.length > 0" ng-repeat="parameter in one.parameters" class="dl-horizontal pz-list">
                                        <dt class="text-muted">{{ parameter.group }}</dt>
                                        <dd class="text-info">{{ parameter.value }}</dd>
                                    </dl>
                                </td>
                                <td>{{ one.created_at }}</td>
                                <td>{{ one.updated_at }}</td>
                                <td button-check-pizone ng-model="one" field="'is_new'"></td>
                                <td button-check-pizone ng-model="one" field="'is_hit'"></td>
                                <td button-check-pizone ng-model="one" field="'is_old'"></td>
                                <td button-active-pizone ng-model="one"></td>
                                <td list-button-group-intis="'one'" ng-model="one"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer">
                            <div class="row" id="invoice-footer">
                                <div class="col-md-12">
                                    <div class="col-lg-6 text-left" style="padding: 20px 0" ng-if="pager.nb_result > 10">
                                        {{'COMMON.SHOW_ON_PAGE' | translate}}
                                        <button class="btn btn-sm" ng-click="Click.ChangePerPage(10)" ng-class="{'btn-primary': CheckPerPage(10), 'btn-white': !CheckPerPage(10)}">10</button>
                                        <button class="btn btn-sm" ng-click="Click.ChangePerPage(20)" ng-class="{'btn-primary': CheckPerPage(20), 'btn-white': !CheckPerPage(20)}">20</button>
                                        <button class="btn btn-sm" ng-click="Click.ChangePerPage(50)" ng-class="{'btn-primary': CheckPerPage(50), 'btn-white': !CheckPerPage(50)}">50</button>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <div class="pull-right" paging-intis="pager" paging-action="Click.Page"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-left">
                                    <div class="pull-left space-20 text-primary">
                                        <button class="btn btn-sm btn-primary btn-gradient" type="button" ng-click="Click.Add()">
                                            <i class="fa fa-plus-square pr5"></i> {{'COMMON.NEW' | translate}}
                                        </button>

                                        <div class="btn-group" dropdown>
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                                                {{'COMMON.BATCH' | translate}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="" ng-click="Click.Batch.Remove()">{{'COMMON.DELETE'|translate}}</a></li>
                                                <li><a href="" ng-click="Click.Batch.Active()">{{'COMMON.ACTIVE'|translate}}</a></li>
                                                <li><a href="" ng-click="Click.Batch.Inactive()">{{'COMMON.INACTIVE'|translate}}</a></li>
                                                <li><a href="" ng-click="Click.Batch.SetParameters()">{{'CCONTENT.SET_PARAMETERS'|translate}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>